/Binaries/
/DerivedDataCache/
/Intermediate/
/Saved/
/Plugins/
/Content/*
!/Content/DAO/
GASP_DynamicAdditiveOverlay.uproject

.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace"/Content/" 
*.uproject
