Binaries
DerivedDataCache
Intermediate
Saved
Content/Characters/Echo/Textures
Content/Characters/Paragon/Heroes/TwinBlast/Textures
Content/Characters/Paragon/Global
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace